.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1131px;
}

.u-section-1 .u-text-1 {
  width: 628px;
  margin: 115px auto 0;
}

.u-section-1 .u-custom-html-1 {
  min-height: 859px;
  height: auto;
  width: 400px;
  margin: 45px auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1151px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 38px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 35px;
    margin-left: -35px;
  }
}